@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Griffy&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Arvo', sans-serif;
}

#home {
    background: no-repeat center center fixed;
    min-height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
}

/*-- Navbar ---*/
#navbar {
    background-color: #ff8500;
}

.navbar {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Creepster', sans-serif;
    letter-spacing: .08rem;
    text-decoration: none;
}

.navbar-nav li {
    padding-right: 0.5rem;
}

a.nav-link {
    color: #000;
}

.navbar-brand img {
    height: 2.7rem;
    padding-left: 0.5rem;
}

a.nav-link:hover {
    color: #fff;
}

a.nav-link:active {
    color: rgb(44, 43, 43);
}

.navbar-toggler-icon {
    color: #000 !important;
}

.play-btn {
    background: white;
    color: black;
}

/* -------------- FLIPPING CARDS CSS ----------------- */

.flipping-cards {
    background: url("../images/cards-img.png") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

.flipping-cards__card-img {
    width: 80%;
}

.page-header {
    font-family: 'Arvo', sans-serif;
}

/*Source https://www.codegrepper.com/code-examples/css/how+to+make+dark+overlay+css*/
.flipping-cards__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5f5141;
    opacity: 0.8;
	z-index: 0;
}

.flipping-cards__header {
    /*position: absolute;*/
	max-width: 70vw;
}

.flipping-cards h2 {
	font-family: 'Creepster', sans-serif;
	font-size: 3rem;
}

/*Overwrite Boostrap classes*/
.cards {
    width: 18rem;
}

.card-body {
    text-align: center;
}

.cards img {
    width: 15rem;
    height: auto;
}

/* Card states, used in flipping-cards.js
source https://github.com/sandraisrael/Memory-Game-fend/blob/master/css/app.css*/

.js-card {
	background: #141214;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	text-decoration: none;
	list-style: none;
	margin: 0.5rem;
}

.deck .js-card img {
	visibility: hidden;
}

.deck .js-card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .js-card.show {
	font-size: 33px;
	visibility: visible;
}

.deck .js-card.show img {
	visibility: visible;
}

.deck .js-card.match {
	cursor: default;
	background: #E5F720;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .js-card.match img {
	visibility: visible;
}


.deck .js-card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .js-card.disabled {
	pointer-events: none;
}


/*
 * Styles for the Score Panel
 */


.score-panel {
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	cursor: pointer;
}

.fa-star {
	color: #FFD700;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}


/*
 * Styles for congratulations modal
 */


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
