@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Griffy&family=Source+Sans+Pro&display=swap');

body {
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Arvo', sans-serif;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-left: calc(var(--bs-gutter-x) * -.5);
  margin-right: calc(var(--bs-gutter-x) * -.5);
}

#home,
#cards {
    background: no-repeat center center fixed;
    min-height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
}

/*-- Navbar ---*/
#navbar {
    background-color: #ff8500;
}
.navbar {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Creepster', sans-serif;
  letter-spacing: .08rem;
  text-decoration: none;
}

.navbar-nav li {
  padding-right: 0.5rem;
}

a.nav-link{
    color: #000;
}

.navbar-brand img {
  height: 2.7rem;
  padding-left: 0.5rem;
}

a.nav-link:hover {
  color: #fff;
}

a.nav-link:active {
    color: rgb(44, 43, 43);
}

.navbar-toggler-icon {
    color: #000 !important;
}

.play-btn {
    background: white;
    color: black;
}

/*-------------------------------Space invaders------------------*/

/*-------------general-----------------------*/

.mx-auto {
  margin: auto;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/*---------------background-image-----------------*/

.background-pic {
    background: url('/assets/images/space_invader.jpeg') no-repeat fixed center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/*-------------game console-----------------------*/

#console {
  width: 600px;
  margin-top: 12rem;
  text-align: center;
}

#game-grid {
  width: 800px;
  text-align: center;
  height: 50vh;
  border: solid orange 6px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 10px;
  background: black;
}


#character {
  width:100px;
  height: 150px;
  position: relative;
  top: calc(50vh - 152px);
  left: 0px;
  background-image: url('/assets/images/mad_scientist.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.animate {
  animation: jump 500ms;
}

#block {
  width: 60px;
  height: 60px;
  position: relative;
  top: calc(50vh - 62px);
  left: 718px;
  animation: block 1s 5 linear;
  background-image: url('/assets/images/pumpkin.png');
  background-size: cover;
}

@keyframes block {
  0%{left: 650px;}
  100%{left: -40px;}
}

@keyframes jump {
  0%{top: calc(50vh - 152px);}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: calc(50vh - 152px);}
}

#success {
  width: 300px;
  height: 50px;
  background-color: orange;
  color: white;
  margin: auto;
}

#replay {
  width: 300px;
  height: 50px;
  background-color: orange;
  color: white;
  position: absolute;
  top: 32vh;
  left: calc(50vw - 150px);
}



/*------------media queries-----------------------*/

@media only screen and (min-width:1180px) {
    .navbar {
      opacity: 1.0;
    }
}